html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
}